@{
    
if (!WebSecurity.IsAuthenticated)
{
Response.Redirect("~/Hesap/Giris");
}
Layout = "~/Paylasilan/_Layout.cshtml"; 

var db=Database.Open("u2p");



}

      
<div class="row">
    <div class="col-md-3 column">
        <h3>Kategoriler</h3>
        <div class="list-group">
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-list-alt"></span> Tümü
                    <span class="badge">@db.QueryValue("SELECT COUNT(*) FROM URL INNER JOIN URLKullanici ON URL.urlID=URLKullanici.urlID WHERE UserID=@0",WebSecurity.CurrentUserId)</span>
             </a>
            
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-plus"></span> Yeni Kategori
                    <span class="badge"></span>
             </a>
            
</div>
        </div>
    <div class="col-md-9 column">

        <div class="well">
                 
              <div class="form-group">
              
                <input type="url" class="form-control" id="txtURL"  required placeholder="URL'ni Buraya Yapıştır...">
              </div>
          
              <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ekle</button>
            </div>
    <table class="table table-hover">
    <tr><td>URL</td><td>Kisa URL</td><td>Eklenme Tarihi</td><td>İşlemler</td></tr>
    </table>
        </div>
</div>



@section scripts
{
    
    <script src="@Href("~/scripts/u2p/Default.js")"></script>
        
     

}


@{
    db.Close();
}
