@{
    
if (!WebSecurity.IsAuthenticated)
{
Response.Redirect("~/Hesap/Giris");
}
Layout = "~/Paylasilan/_Layout.cshtml"; 

var db=Database.Open("u2p");
var klasorKisaKod="";

if (string.IsNullOrEmpty(klasorKisaKod))
{
    klasorKisaKod=db.QueryValue("SELECT kisaKod FROM klasor WHERE userID=@0 AND ustKlasorID=-1",WebSecurity.CurrentUserId);
}

}
 
<div>
    
    <ol class="breadcrumb">
  <li><a href="#">Hakan Güldal</a></li>
  <li><a href="#">Anasayfa</a></li>
  
</ol>
    <br>
    <div class="row clearfix">
	
		    <div class="col-md-12 column">
                <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                          <button type="button" class="btn btn-default btnTumunuSec" title="Select All"><span class="glyphicon glyphicon-check"></span></button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#" class="btnTumunuSec" data-toggle="tooltip" data-placement="bottom" title="Select All"><span class="glyphicon glyphicon-check"></span> Tümünü Seç</a></li>
                            <li><a href="#" class="btnTumSecimiIptalEt"><span class="glyphicon glyphicon-unchecked"></span> Seçimi İptal Et</a></li>
                           
                          </ul>
                    </div>


                    <div class="btn-group">
                          <button type="button" class="btn btn-default btnTumunuSec" title="Select All"><span class="glyphicon glyphicon-plus-sign"></span> Yeni</button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#" class="btnTumunuSec" data-toggle="modal" data-target="#yeniKlasor" data-toggle="tooltip" data-placement="bottom" title="Select All"><span class="glyphicon glyphicon-folder-close"></span> Klasör</a></li>
                            <li><a href="#" class="btnTumSecimiIptalEt"><span class="glyphicon glyphicon-link"></span> URL</a></li>
                              <li><a href="#" class="btnTumSecimiIptalEt"><span class="glyphicon glyphicon-file"></span> Dosya</a></li>
                           
                          </ul>
                    </div>

  
  <div class="btn-group">
   <button type="button" class="btn btn-default btnSil" title="Delete"><span class="glyphicon glyphicon-trash"></span> Sil</button>
  </div>

                 
 
</div>

    <br><br>
<table class="table table-hover" id="tableKlasor" data-klasorKisaKod="@klasorKisaKod">
   <tr>
       <td></td>
   <td><strong>Öğe Adı</strong></td>
       <td><strong>Oluşturma Tarihi</strong></td>
       <td><strong>Kısa Url</strong></td>
   </tr>
</table>
    <br>
     <ol class="breadcrumb">
  <li><a href="#">Hakan Güldal</a></li>
  <li><a href="#">Anasayfa</a></li>
  
</ol>
</div>

</div>

<div class="modal fade" id="yeniKlasor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="lblYeniKlasor">Klasör Oluştur</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal" >
            
            
				<div class="form-group">
					 <label for="txtKlasorAdi" class="col-sm-3 control-label">Klasör Adı:</label><div class="col-sm-6"><input class="form-control" id="txtKlasorAdi" name="txtKlasorAdi" type="text" /></div>
				</div>
                
                <div class="form-group">
					 <label for="cmbErisimTuru" class="col-sm-3 control-label">Erişim:</label>
                    <div class="col-sm-6">
                    <select  id="cmbErisimTuru" name="cmbErisimTuru">
                                <option value="1"> Herkes (Tüm Dünya)</option> 
                                <option value="2"> Üyeler</option> 
                                <option value="3"> Takipçiler</option> 
                                <option value="4" selected> Ben</option>
                                <option value="5">Benim Belirlediğim Kişiler</option>
                                
                             </select>
                    </div>
				</div>

                
		</div>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" id="btnYeniKlasorOlustur">Oluştur</button>
      </div>
    </div>
  </div>
</div>

@section scripts
{
    
    <script src="@Href("~/scripts/u2p/Default.js")"></script>
     

}


@{
    db.Close();
}
