@{
    
if (!WebSecurity.IsAuthenticated)
{
Response.Redirect("~/Hesap/Giris");
}
Layout = "~/Paylasilan/_Layout.cshtml"; 

var db=Database.Open("u2p");
var klasorKisaKod="";

if (string.IsNullOrEmpty(klasorKisaKod))
{
    klasorKisaKod=db.QueryValue("SELECT kisaKod FROM klasor WHERE userID=@0 AND ustKlasorID=-1",WebSecurity.CurrentUserId);
}

}

    <div class="row clearfix">
	
		    <div class="col-md-12 column">
                <h4><a href="#">Anasayfa</a> / </h4>
                <hr>
                 <div class="subnav">
           <ul class="nav nav-pills">
              <li><a href="#" data-toggle="modal" data-target="#yeniKlasor"><span class="glyphicon glyphicon-folder-close"></span> Yeni Klasör</a></li>
              <li><a href="#" data-toggle="modal" data-target="#yeniURL"><span class="glyphicon glyphicon-link"></span> Yeni URL</a></li>
               <li><a href="#" data-toggle="modal" data-target="#yeniDosya"><span class="glyphicon glyphicon-file"></span> Yeni Dosya</a></li>

               </ul>
            </div>
                <hr>
                

    <br>
<h4>İçerik</h4>
    <table class="table table-hover" id="tableKlasor" data-klasorKisaKod="@klasorKisaKod">
   
</table>
   
</div>

</div>

<div class="modal fade" id="yeniKlasor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="lblYeniKlasor">Klasör Oluştur</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal" >
            
            
				<div class="form-group">
					 <label for="txtKlasorAdi" class="col-sm-3 control-label">Klasör Adı:</label><div class="col-sm-6"><input class="form-control" id="txtKlasorAdi" name="txtKlasorAdi" type="text" /></div>
				</div>
                
                <div class="form-group">
					 <label for="cmbErisimTuru" class="col-sm-3 control-label">Erişim:</label>
                    <div class="col-sm-6">
                    <select  id="cmbErisimTuru" name="cmbErisimTuru">
                                <option value="1"> Herkes (Tüm Dünya)</option> 
                                <option value="2"> Üyeler</option> 
                                <option value="3"> Takipçiler</option> 
                                <option value="4" selected> Ben</option>
                                <option value="5">Benim Belirlediğim Kişiler</option>
                                
                             </select>
                    </div>
				</div>

                
		</div>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" id="btnYeniKlasorOlustur">Oluştur</button>
      </div>
    </div>
  </div>
</div>

@section scripts
{
    
    <script src="@Href("~/scripts/u2p/Default.js")"></script>
        
     

}


@{
    db.Close();
}
