@{

var kisaKod=Request["shortcode"];

if (!WebSecurity.IsAuthenticated)
{
    Response.Redirect("~/Account/Login?returnURL=/EnterAccessCode?shortcode=" + kisaKod);
}

Layout = "~/Shared/_Layout.cshtml"; 

}


<div>
   

      

</div>


<div class="row">
     <div class="col-lg-4 col-lg-offset-4">
         @if (!string.IsNullOrEmpty(kisaKod))
                {
                    <h4>Enter Your Access Code</h4>
                    <div class="input-group">
                        <input type="hidden" value="@kisaKod" id="txtKisaKod">
                         <input type="text"  id="txtErisimKodu" class="form-control" autofocus/> 
                        <span class="input-group-btn">
                         <button class="btn btn-success" type="button" id="btnKodGir"> OK</button>
                        </span>
                     </div>
                }
                else
                {
                    <div class="alert alert-danger alert-dismissible" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <strong>Error! </strong>Invalid URL
                        </div>
                }
          
    </div>
</div>


@section scripts
{
   
    <script src="@Href("~/scripts/u2p/EnterAccessCode.min.js")"></script>

}
