@{
     Layout="~/Paylasilan/_Layout.cshtml";

     var kisaKod=Request["kisaKod"];
    
}
<div class="row">
    
    
    <div class="col-md-12 column">
         <div class="panel panel-info">
                <div class="panel-heading"> <h5 id="kategoriAdi"><span class="glyphicon glyphicon-link"></span>URLs</h5></div>
        
        <div class="panel-body"> 
             
            
    <table class="table table-hover" id="lstUrl">
        <thead>
            <tr><td style="width:15px"></td><td style="width:200px"><strong>Description</strong></td><td><strong>URL</strong></td><td></td></tr>
            </thead>
        <tbody>
       
        </tbody>
    </table>
         
        </div>
       </div>
      </div>

    
</div>