@{
    var t=GoogleSafeBrowsing.AdresKontrol("sex.com");
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        @t
    </body>
</html>
