@{
    
var db=Database.Open("u2p");
var queryZiyaret=db.Query("SELECT * FROM Ziyaret");

WebGrid g=new WebGrid(queryZiyaret);

 
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
@g.GetHtml()
    </body>
</html>
