@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Hesap/Giris");
    }
    Layout = "~/Paylasilan/_Layout.cshtml"; 

    var db=Database.Open("u2p");
    var kisaKod=UrlData[0];
    
    if (string.IsNullOrEmpty(kisaKod))
    {
        db.Close();
        Response.Redirect("~/Error/Invalid-Url");
    }

    var queryURL=db.QuerySingle("SELECT * FROM URL WHERE kisaKod=@0",kisaKod);
  
    if (queryURL==null)
    {
       db.Close();
       Response.Redirect("~/Error/Invalid-Url");
    }

    if (db.QueryValue("SELECT COUNT(*) FROM URLYonetici WHERE urlID=@0 AND UserID=@1",queryURL.urlID,WebSecurity.CurrentUserId)<1)
    {
        db.Close();
        Response.Redirect("~/Error/Access-Denied");
    }

}
<div class="row">
    
    <div class="col-md-3 column">
    <h2>@queryURL.kisaKod</h2>
        <hr>
        </div>
    </div>

@{
    db.Close();
}