@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Hesap/Giris");
    }
    Layout = "~/Paylasilan/_Layout.cshtml"; 

    var db=Database.Open("u2p");
    var kisaKod=UrlData[0];
    
    if (string.IsNullOrEmpty(kisaKod))
    {
        db.Close();
        Response.Redirect("~/Error/Invalid-Url");
    }

    var queryURL=db.QuerySingle("SELECT * FROM URL WHERE kisaKod=@0",kisaKod);
  
    if (queryURL==null)
    {
       db.Close();
       Response.Redirect("~/Error/Invalid-Url");
    }

    if (db.QueryValue("SELECT COUNT(*) FROM URLYonetici WHERE urlID=@0 AND UserID=@1",queryURL.urlID,WebSecurity.CurrentUserId)<1)
    {
        db.Close();
        Response.Redirect("~/Error/Access-Denied");
    }

}
@section styles
{
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>

}
<div class="row">
<div class="col-md-12 column">
   <h2>URL Settings</h2>
 
</div>   
</div>
<br>
<div class="row">
    
    <div class="col-md-4 column">
        
        <table class="table table-striped">
        <tr>
            <td><strong>URL:</strong></td>
            
        </tr>
         <tr>
             <td>@Request.Url.GetLeftPart(UriPartial.Authority)/<a href="#" class="urlSetting" data-field="kisaKod">@queryURL.kisaKod</a></td>
        </tr>

        <tr>
            <td><strong>Description:</strong></td>
        </tr>
            <tr>
            <td><a href="#" class="urlSetting" data-field="aciklama"><small>@queryURL.aciklama</small></a></td>
            </tr>
        
            <tr>
                <td><strong>Access Type:</strong></td>
            </tr>
           
             <tr>
            <td>

            <select id="cmbErisimTuru">
                <option value="1">Public</option>
                <option value="2">Members</option>
                <option value="3">Permitted (Via Access Codes)</option>
                <option value="4">Owner</option>
            </select>
            </td>
            </tr>
            
             <tr>
                <td><strong>Visible:</strong></td>
            </tr>
           
             <tr>
            <td>

            <select id="cmbGorunur">
                <option value="1">Yes</option>
                <option value="2">No</option>
               
            </select>
            </td>
            </tr>

        </table>
    
        </div>


      

    </div>

@{
    db.Close();
}



@section scripts
{
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>        
    <script src="@Href("~/scripts/u2p/UrlSettings.js")"></script> 

}

