@{
    Layout="~/Paylasilan/_Layout.cshtml";
}

<div>
 <select id="cmbKategoriSec"">
<option value="1"> Not Required</option>
<option value="2"> Required</option>
</select>

</div>
@section scripts
{
    <script src="@Href("~/scripts/u2p/UrlSettings.js")"></script>
}
