@{
    Page.Title = "Giriş";
    Layout = Href("~/Paylasilan/_Layout.cshtml"); 
    var ePosta="";
    var parola="";
    var hataMesaji="";
    
    //sayfa post edildiğinde...
    if (IsPost)
    {
        //Gelen Formdan email ve parola bilgilerini al.
        ePosta=Request.Form["txtEposta"];
        parola=Request.Form["txtParola"];

        //Email adresi veya parola girildi mi ?
        if (string.IsNullOrEmpty(ePosta) || string.IsNullOrEmpty(parola))
        {
            hataMesaji="Parolanı veya e-posta adresini girmedin";
           
        }

       if (!string.IsNullOrEmpty(ePosta) && !string.IsNullOrEmpty(parola))
       {
           //Oturum açmayı dene eğer başarılıysa(Login() true döndürür) anasayfaya git aksi halde hata mesajı
            if (WebSecurity.Login(ePosta,parola))
            {

                
                Response.Redirect("~/"); //Giriş Başarılı Anasayfaya git...

            }
            else
            {
                hataMesaji="Giriş Başarısız";
            }
        }
    }
}

 

  
   
   <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                           <h1><i class="fa fa-play-circle"></i><strong> OURLEX</strong> </h1>
                             @if (!string.IsNullOrEmpty(hataMesaji))
                                   {
                                        <div class="alert alert-danger">
				
				                                 <strong>Hata ! </strong>@hataMesaji 
			                                </div>
                                   }
   
                            </div>
                         
   <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                  
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">LOGIN</div>
                       
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form  class="form-horizontal" role="form">
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="email" class="form-control" id="txtEposta" name="txtEposta" value="" placeholder="E-mail..." required autofocus="true">                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input  type="password" class="form-control" id="txtParola" name="txtParola" placeholder="Password..." required>
                                    </div>
                                    

                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->
                                    <div class="col-sm-12 controls">
                                      
                                      <button class="btn btn-success" type="submit"> Login</button>

                                    </div>
                                    
                                </div>


                                
                            </form>     



                        </div>                     
                    </div>  
        </div>
        
