@{
    Page.Title = "Giriş";
    Layout = Href("~/Paylasilan/_LayoutMisafir.cshtml"); 
    var ePosta="";
    var parola="";
    var hataMesaji="";
    
    //sayfa post edildiğinde...
    if (IsPost)
    {
        //Gelen Formdan email ve parola bilgilerini al.
        ePosta=Request.Form["txtEposta"];
        parola=Request.Form["txtParola"];

        //Email adresi veya parola girildi mi ?
        if (string.IsNullOrEmpty(ePosta) || string.IsNullOrEmpty(parola))
        {
            hataMesaji="Parolanı veya e-posta adresini girmedin";
           
        }

       if (!string.IsNullOrEmpty(ePosta) && !string.IsNullOrEmpty(parola))
       {
           //Oturum açmayı dene eğer başarılıysa(Login() true döndürür) anasayfaya git aksi halde hata mesajı
            if (WebSecurity.Login(ePosta,parola))
            {

                
                Response.Redirect("~/"); //Giriş Başarılı Anasayfaya git...

            }
            else
            {
                hataMesaji="Giriş Başarısız";
            }
        }
    }
}



<div>
     <h3>Giriş</h3>
   
   @if (!string.IsNullOrEmpty(hataMesaji))
   {
        <div class="alert alert-danger">
				
				 <strong>Hata ! </strong>@hataMesaji 
			</div>
   }
    <form class="form center-form" role="form" method="post" action="#">
				<div class="form-group">
					 <label for="txtEposta">E-Posta</label><input class="form-control" placeholder="E-Posta adresini buraya gir..." value="@ePosta" id="txtEposta" name="txtEposta" type="email" required />
				</div>
				<div class="form-group">
					 <label for="txtParola">Parola</label><input class="form-control" placeholder="Parolanı buraya gir..." id="txtParola" name="txtParola" type="password" required />
				</div>
				
				<button type="submit" class="btn btn-primary">Giriş</button> 
                  
			</form>
    <br>
    

    <br>
    <hr>
  
    <a class="btn btn-success" href="@Href("~/Hesap/Yeni")"> Yeni Hesap Oluştur</a> <a class="btn btn-primary" href="@Href("~/Hesap/ParolamiUnuttum")">Parolamı Unuttum ?</a>
</div>

