@{
    Page.Title = "Giriş";
    Layout = Href("~/Paylasilan/_LayoutMisafir.cshtml"); 
    var email="";
    var parola="";
    var hataMesaji="";
    
    //sayfa post edildiğinde...
    if (IsPost)
    {
        //Gelen Formdan email ve parola bilgilerini al.
        email=Request.Form["txtEmail"];
        parola=Request.Form["txtParola"];

        //Email adresi veya parola girildi mi ?
        if (string.IsNullOrEmpty(email) || string.IsNullOrEmpty(parola))
        {
            hataMesaji="Enter e-mail or password";
           
        }

       if (!string.IsNullOrEmpty(email) && !string.IsNullOrEmpty(parola))
       {
           //Oturum açmayı dene eğer başarılıysa(Login() true döndürür) anasayfaya git aksi halde hata mesajı
            if (WebSecurity.Login(email,parola))
            {
                Response.Redirect("~/"); //Giriş Başarılı Anasayfaya git...
            }
            else
            {
                hataMesaji="Login failed";
            }
        }
    }
}



<div>
     <h3>Giriş</h3>
   
   @if (!string.IsNullOrEmpty(hataMesaji))
   {
        <div class="alert alert-danger">
				
				 <strong>Hata ! </strong>@hataMesaji 
			</div>
   }
    <form class="form center-form" role="form" method="post" action="#">
				<div class="form-group">
					 <label for="txtEmail">E-Posta</label><input class="form-control" placeholder="Enter your e-mail here..." value="@email" id="txtEmail" name="txtEmail" type="email" required />
				</div>
				<div class="form-group">
					 <label for="txtParola">Parola</label><input class="form-control" placeholder="Enter your password here..." id="txtParola" name="txtParola" type="password" required />
				</div>
				
				<button type="submit" class="btn btn-primary">Giriş</button> 
                  
			</form>
    <br>
    

    <br>
    <hr>
  
    <a class="btn btn-success" href="@Href("~/Hesap/Yeni")"> Yeni Hesap Oluştur</a> <a class="btn btn-primary" href="@Href("~/Hesap/ParolamiUnuttum")">Parolamı Unuttum ?</a>
</div>

