@{
    Page.Title = "Parolamı Unuttum";
    Layout = Href("~/Paylasilan/_LayoutMisafir.cshtml"); 
}
<div>
 <form role="form" id="frmSifirlamaKoduGonder" method="post" action="@Href("~/Api/Hesap/ParolamiUnuttum.cshtml")">
				<div class="form-group">
					 <label for="txtEmail">E-mail:</label><input class="form-control" placeholder="Enter E-mail..." id="txtEmail" name="txtEmail" type="email" />
				</div>
			
				<button type="submit" class="btn btn-primary" id="btnSifirlamaKoduGonder"><span class="glyphicon glyphicon-repeat"></span> Send Recovery Link</button>  <a href="javascript: history.go(-1)" class="btn btn-primary">Back</a>
			</form>
</div>

@section scripts
{
    <script src="@Href("~/scripts/jquery.form.js")"></script>
    <script src="@Href("~/scripts/jquery.validate.js")"></script>
    <script src="@Href("~/scripts/grouplat/Hesap/ParolamiUnuttum.js")"></script>
}