@{
    Page.Title = "Create Account";
    Layout = Href("~/Shared/_LayoutGuest.cshtml"); 
    var db=Database.Open("u2p");
    
}

<div>
    <h2>New Account</h2>
    <hr>
<form class="form-horizontal" id="frmYeniUye" action="@Href("~/Ajax/Account/New.cshtml")" method="post">
    
    <div class="form-group">
					 <label for="txtEposta" class="col-sm-3 control-label">E-Posta:</label><div class="col-sm-9"><input class="form-control"  id="txtEposta" name="txtEposta" type="email" /></div>
				</div>

                <div class="form-group">
					 <label for="txtAd" class="col-sm-3 control-label">Ad:</label><div class="col-sm-9"><input class="form-control" id="txtAd" name="txtAd" type="text" /></div>
                    
				</div>

                <div class="form-group">
					 <label for="txtSoyad" class="col-sm-3 control-label">Soyad:</label><div class="col-sm-9"><input class="form-control" id="txtSoyad" name="txtSoyad" type="text" /></div>
				</div>
             
				
				<div class="form-group">
					 <label for="txtParola" class="col-sm-3 control-label">Parola:</label><div class="col-sm-9"><input class="form-control" id="txtParola" name="txtParola" type="password" /></div>
				</div>

                <div class="form-group">
					 <label for="txtReParola" class="col-sm-3 control-label">Parola:(Tekrar)</label><div class="col-sm-9"><input class="form-control" id="txtReParola" name="txtReParola" type="password" /></div>
				</div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9"><button type="submit" class="btn btn-primary" id="buttonKayitOl" >Oluştur</button> <a href="javascript: history.go(-1)" class="btn btn-primary"> Geri</a></div>
                    </div> 
				</form>
				
			
</div>
@{
    db.Close();
}

@section scripts
{
    <script src="@Href("~/scripts/jquery.form.js")"></script>
    <script src="@Href("~/scripts/jquery.validate.js")"></script>
    <script src="@Href("~/scripts/u2p/Account/New.js")"></script>
}