@{
    
var ePosta="";
var db=Database.Open("u2p");
email=Request.Form["txtEposta"];
if (db.QueryValue("SELECT COUNT(*) FROM Profiles WHERE ePosta=@0",ePosta)==0)
{
    db.Close();
    Response.Write("epostakayitlidegil");
    Response.End();
}

var token=WebSecurity.GeneratePasswordResetToken(ePosta);
var adres = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
var sifirlamaLinki = adres + VirtualPathUtility.ToAbsolute("~/Hesap/ParolaSifirla?sifirlamaKodu=" + HttpUtility.UrlEncode(token));
WebMail.Send(ePosta,"u2p Parola Sıfırlama","Parolanı sıfırlamak için lütfen  <br><a href='" + sifirlamaLinki + "'> Buraya</a> tıkla");

db.Close();
Response.Write("OK");
Response.End();
}


