@{
    
Layout = "~/Paylasilan/_Layout.cshtml"; 

   

}
 <div id="regions_div" style="width: 900px; height: 500px;"></div>
@section scripts
{
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="@Href("~/scripts/u2p/ByCountry.js")"></script>
 
}

