@{
    
Layout = "~/Paylasilan/_Layout.cshtml"; 

   

}
<div class="row">
     <div class="col-md-6 column">
    <div id="regions_div"></div>
         </div>
</div>
 
@section scripts
{
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="@Href("~/scripts/u2p/ByCountry.js")"></script>
 
}

