@{
    
Layout = "~/Paylasilan/_Layout.cshtml"; 

   

}
<div class="row">
    <button id="grafikCiz"> Çiz</button>
     <div class="col-md-6 column">
    <canvas id="myChart" width="320" height="200"></canvas>

         </div>
</div>
 
@section scripts
{
<script src="@Href("~/scripts/ChartJS/Chart.min.js")"></script>
<script src="@Href("~/scripts/u2p/ByCountry.js")"></script>
 
}

