@{
    
Layout = "~/Paylasilan/_Layout.cshtml"; 

   

}
<div class="row">
     <div class="col-md-6 column">
    <canvas id="myChart" width="400" height="400"></canvas>

         </div>
</div>
 
@section scripts
{
<script src="@Href("~/scripts/ChartJS/Chart.js")"></script>
<script src="@Href("~/scripts/u2p/ByCountry.js")"></script>
 
}

